In [1]:
import pandas as pd
import re
import numpy as np

In [3]:
#full_df = pd.read_csv('data/full_df.csv', error_bad_lines = False, warn_bad_lines = False)
part_df = pd.read_csv('data/full_df.csv', error_bad_lines = False, warn_bad_lines = False, nrows = 5000)

In [42]:
#print(part_df)

In [43]:
#full_df['PARTITION'].value_counts()

In [44]:
#part_df['STATE'].value_counts()

In [45]:
#full_df['EXITCODE'].value_counts()

In [46]:
#full_df['ACCOUNT'].value_counts()

In [47]:
#full_df['USER'].value_counts()

In [29]:
#full_df.loc[full_df['USER']=='cmslocal']

In [31]:
work_df = full_df.query('TOTAL_SEC_USED < 3601')

In [34]:
work_df.head(10)

,JOBID,ACCOUNT,USER,REQMEM,USEDMEM,REQTIME,USEDTIME,NODES,CPUS,PARTITION,EXITCODE,STATE,NODELIST,TOTAL_SEC_USED,REQMEM_IDEN,REQMEM_NUM,USEDMEM_NUM,REQMEM_PC,USEDMEM_PC
1654,17021340_83,crab,nile,1024Mn,2.13M,4-04:00:00,00:02:49,1,1,production,0:0,COMPLETED,cn1090,169,Mn,1024.0,2.13,1024.0,2.13
1655,17021340_84,crab,nile,1024Mn,2.13M,4-04:00:00,00:02:42,1,1,production,0:0,COMPLETED,cn1090,162,Mn,1024.0,2.13,1024.0,2.13
1656,17021340_85,crab,nile,1024Mn,2.12M,4-04:00:00,00:03:00,1,1,production,0:0,COMPLETED,cn1090,180,Mn,1024.0,2.12,1024.0,2.12
1662,17021340_91,crab,nile,1024Mn,2.12M,4-04:00:00,00:05:55,1,1,production,0:0,COMPLETED,cn1087,355,Mn,1024.0,2.12,1024.0,2.12
1665,17021340_94,crab,nile,1024Mn,2.12M,4-04:00:00,00:02:01,1,1,production,0:0,COMPLETED,cn1081,121,Mn,1024.0,2.12,1024.0,2.12
1666,17021340_95,crab,nile,1024Mn,2.13M,4-04:00:00,00:02:01,1,1,production,0:0,COMPLETED,cn1081,121,Mn,1024.0,2.13,1024.0,2.13
1681,17021340_110,crab,nile,1024Mn,2.13M,4-04:00:00,00:19:55,1,1,production,0:0,COMPLETED,cn1090,1195,Mn,1024.0,2.13,1024.0,2.13
1689,17021340_118,crab,nile,1024Mn,2.12M,4-04:00:00,00:20:24,1,1,production,0:0,COMPLETED,cn1086,1224,Mn,1024.0,2.12,1024.0,2.12
1690,17021340_119,crab,nile,1024Mn,2.12M,4-04:00:00,00:20:10,1,1,production,0:0,COMPLETED,cn1089,1210,Mn,1024.0,2.12,1024.0,2.12
1691,17021340_120,crab,nile,1024Mn,2.12M,4-04:00:00,00:18:26,1,1,production,0:0,COMPLETED,cn1087,1106,Mn,1024.0,2.12,1024.0,2.12

In [41]:
work_df['NODELIST'].value_counts()

vm-cms-sam-pri    45680
vm-cms-sam-sec    33372
cn304              7421
cn1438             6472
cn430              6432
                  ...
cn[1438               1
cn[1334-1336          1
cn[1235-1236]         1
cn[1394-1395]         1
cn[484                1
Name: NODELIST, Length: 1238, dtype: int64